@import "tailwindcss";

:root {
  --background: #f0fdf4;
  --foreground: #4b5563;
}

@theme {
  --color-*: initial;
  --color-body: #4b5563;
  --color-heading: #111827;
  --color-primary: #10b981;
  --color-secondary: #14b8a6;
  --color-accent: #059669;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #f0fdf4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
